<aside class="px-2">
    <h2>Polígonos</h2>
    <hr>
    <ul class="list-group list-reset">
        <li style="cursor: pointer" class="list-group-item list-group-item-action" routerLink="/triangulo">Triángulo</li>
        <li style="cursor: pointer" class="list-group-item list-group-item-action" routerLink="/rectangulo">Rectángulo</li>
        <li style="cursor: pointer" class="list-group-item list-group-item-action" routerLink="/circulo">Círculo</li>
        <li style="cursor: pointer" class="list-group-item list-group-item-action">Pentágono</li>
        <li style="cursor: pointer" class="list-group-item list-group-item-action" routerLink="/cuadrado">Cuadrado</li>
        <li style="cursor: pointer" class="list-group-item list-group-item-action">Hexágono</li>
    </ul>

</aside>
